.order-page__total-price {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  font-weight: bold;
}

.order-page__price-select {
  color: #ff0266;
}

.order-page__title-empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-page__left {
  padding: 20px 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4em;
}

.order-page {
  padding: 10px 0 30px;
}

@media screen and (max-width:680px) {

  .order-page__total-price {
    justify-content: center;
  }

  .order-page__total-price-block {
    text-align: center;
  }

  .order-page__left {
    gap: 2em;
  }

}