.order-page__total-price {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  font-weight: bold;
}

.order-page__price-select {
  color: #d94b05;
}

.order-page {
  padding-bottom: 50px;
}