.game-cover {
  height: 190px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

@media (max-width:990px) {
  
  .game-cover {
    height: 25vh;
  }
}